body {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    height: 95vh;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 25px;
    margin-top: 70px;
}

h4 {
    font-size: 15px;
    font-weight: 300;
    
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}


.selected_Date {
    font-size: 17px;
    font-weight: 600;
    background-color: rgb(194, 194, 255);

    width: 100%;
    height: 55px;
    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}


.calender {
    background-color: rgb(255, 238, 168);
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items:  center;
}

.monthViewWrap {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 210, 210);
    height: 40px;
    padding: 5px;
}

.arrow {
    font-size: 14px;
    background-color: rgb(244, 255, 198);

    height: 100%;
    width: 37px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    transition: 150ms;
    cursor: pointer;
}

.arrow:hover {
    background-color: rgb(216, 226, 172);
}

.dayBox {
    box-sizing: border-box;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 35px;
    grid-auto-rows: 35px;
    
    column-gap: 3px;
    row-gap: 3px;
    padding: 10px;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(231, 168, 168);
    font-size: 15px;
    border-radius: 5px;

    transition: 150ms;
    cursor: pointer;
}

.day.selected {
    background-color: #f67c00;
    color: white;

}

.day.selected:hover {
    background-color: #f67c00;

}

.day:hover {
    background-color: rgb(203, 159, 159);
}